.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f8f8f8;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #c4c4c4;
    border-color: #a4a4a4;
}

.bold-font {
    font-weight: 500 !important;
}

.text-center {
    text-align: center !important;
}

.border-round-right {
    border-radius: 0px 6px 6px 0px !important;
}

.border-round-left {
    border-radius: 6px 0px 0px 6px !important;
}