<h1 class="mt-5">Orders</h1>
<table class="table">
  <thead>
    <tr>
        <th>Order ID</th>
        <th>Name</th>
        <th>Date</th>
        <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders; let i = index">
        <td>{{ order.orderID }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.date | date}}</td>
        <td>
            <button type="button" (click)="toggleModal(i)" class="btn btn-link">View Order</button>
        </td>
    </tr>
  </tbody> 
</table>

<div *ngIf="showModal">
    <app-order-modal [order]="orders[orderIndex]" (toggleModal)="closeModal($event)"></app-order-modal>
</div>